

.row-element{
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.row-header th{
    color: gray;
}

.blueBoxStyle {
    background-color: #75b7ff;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #0d76e0;
  };

  .orangeBoxStyle {
    background-color: #ffd6ab;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #c59030;
  };