body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  padding: 0 5%; /* Default padding for smaller screens */

  @media (min-width: 768px) {
    /* Apply different padding for screens 768px and larger */
    padding: 0 10%;
  }

  @media (min-width: 1024px) {
    /* Apply different padding for screens 1024px and larger */
    padding: 0 15%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
